/* Utilities */
/* Colors */
/* Borders */
.font-light {
  color: #555555;
}

.b-no-bot {
  border: 1px #cccccc solid;
  border-bottom: 0;
}

.gray-underline {
  border-bottom: 1px #cccccc solid;
}

.gray-topline {
  border-top: 1px #cccccc solid;
}

.active-tab {
  border-width: 2px !important;
  border-color: #1d2731 !important;
}

.required-field::placeholder {
  color: #7f00ff !important;
}

/* Global */
@font-face {
  font-family: Helvetica, Verdana, sans-serif;
}
html, body {
  overflow: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin: 0;
  font-family: Helvetica, Verdana, sans-serif;
  font-family: sans-serif;
}

.haha {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: -60px;
}

/* Layout */
/* Header Sizing */
header {
  display: flex;
}
header #header-logo {
  order: 1;
  flex-basis: 15%;
}
header #header-search {
  order: 2;
  flex-basis: 55%;
}
header #header-icons {
  order: 3;
  flex-basis: 30%;
}

/* Page Sizing */
#flex-container {
  display: flex;
}
#flex-container #nav-menu {
  order: 1;
  flex-basis: 15%;
}
#flex-container #table-container {
  order: 2;
  flex-basis: 55%;
}
#flex-container #report-info-container {
  order: 3;
  flex-basis: 30%;
}

/* Report Panel Sizing */
#report-information {
  display: flex;
  width: 80%;
  margin: auto auto;
}
#report-information #report-labels {
  order: 1;
  flex-basis: 40%;
}
#report-information #report-data {
  order: 2;
  flex-basis: 68%;
}

/* Object */
header {
  height: 60px;
  background-color: #1d2731;
  color: white;
}
header div {
  margin-top: .2rem;
}
header i {
  padding: 10px 10px 0px 30px;
}
header #header-logo {
  font-size: 25px;
}
header #header-logo:hover {
  color: #cccccc;
  cursor: pointer;
}
header #header-search {
  padding: 10px;
}
header #header-search form {
  margin-left: 80px;
}
header #header-search form input {
  font-size: 18px;
  border: none;
  height: 20px;
  width: 85%;
  padding: 5px;
  border-radius: 2px;
}
header #header-search form input:focus {
  outline: none !important;
  border: 1px solid #1d2731;
  box-shadow: 0 0 5px #7f00ff;
}
header #header-icons {
  font-size: 25px;
  text-align: center;
}
header #header-icons span {
  padding: 8px;
}
header #header-icons span a {
  text-decoration: none;
  color: white;
}
header #header-icons span a:hover {
  color: #cccccc;
  cursor: pointer;
}
header #header-icons span:hover {
  color: #cccccc;
  cursor: pointer;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  position: relative;
}
table table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
  text-align: center;
}
table thead tr {
  height: 45px;
  background: #1d2731;
}
table thead th {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 18px;
  color: white;
  line-height: 1.2;
  font-weight: unset;
}
table tbody tr {
  height: 45px;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
}
table tbody tr .rpt-link {
  background: none;
  border: none;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
}
table tbody tr .rpt-link:hover {
  cursor: pointer;
  color: #7f00ff;
}
table tbody tr:hover {
  color: #555555;
  background-color: whitesmoke;
  cursor: pointer;
}
table tbody tr:nth-child(even) {
  background-color: whitesmoke;
}
table tbody tr:last-child {
  border: 0;
}

/* Real Scroll Bar */
.normal::-webkit-scrollbar {
  width: 5px;
}

.normal::-webkit-scrollbar-track {
  background-color: #cccccc;
}

.normal::-webkit-scrollbar-thumb {
  background: #1d2731;
  border-radius: 10px;
}

/* Justin Styles */
#report-info-container {
  background-color: white;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow: scroll;
  margin: 0 auto;
}
#report-info-container #report-placeholder h3 {
  color: #1d2731;
  text-align: center;
}
#report-info-container #report-info-main {
  display: none;
}
#report-info-container #report-info-main h2 {
  color: #1d2731;
  text-align: center;
}
#report-info-container #report-info-main h3 {
  color: #555555;
  font-size: 18px;
}
#report-info-container #report-info-main p {
  font-size: 18px;
}
#report-info-container #report-info-main #report-information {
  border-bottom: 1px #cccccc solid;
}
#report-info-container #report-info-main #report-links {
  width: 80%;
  margin: auto auto;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px #cccccc solid;
}
#report-info-container #report-info-main #report-links a {
  padding-left: 25px;
  text-decoration: none;
  color: #1d2731;
  font-size: 18px;
}
#report-info-container #report-info-main #report-links a:hover {
  color: #7f00ff;
}
#report-info-container #report-info-main #report-adv-info {
  margin-top: 20px;
}
#report-info-container #report-info-main #report-adv-info #report-info-label {
  width: 80%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: auto auto;
}
#report-info-container #report-info-main #report-adv-info #report-info-label button {
  margin-top: 10px;
  background: white;
  border-style: solid;
  border-color: #1d2731;
  border-width: 1px;
  border-bottom: none;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
#report-info-container #report-info-main #report-adv-info #report-info-label button h3 {
  margin: auto auto;
}
#report-info-container #report-info-main #report-adv-info #report-info-label button h3:hover {
  color: #1d2731;
}
#report-info-container #report-info-main #report-adv-info #report-info-label button:hover {
  color: gray;
  border-color: gray;
}
#report-info-container #report-info-main #report-adv-info #report-info-label button:focus {
  outline: none;
}
#report-info-container #report-info-main #report-adv-info #report-bottom-table table {
  width: 80%;
  margin: auto auto;
}
#report-info-container #report-info-main #report-adv-info #report-bottom-table table td, #report-info-container #report-info-main #report-adv-info #report-bottom-table table th {
  text-align: left;
}
#report-info-container #report-info-main #report-adv-info #report-bottom-table table tbody {
  border-top: 1px #cccccc solid;
}
#report-info-container #advanced-search {
  display: none;
}
#report-info-container #advanced-search #adv-search-container {
  width: 80%;
  margin: auto auto;
}
#report-info-container #advanced-search #adv-search-container h2 {
  color: #1d2731;
  text-align: center;
}
#report-info-container #advanced-search #adv-search-container input[type="text"] {
  font-size: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px #cccccc solid;
  margin-bottom: 10px;
}
#report-info-container #advanced-search #adv-search-container input[type="text"]:focus {
  outline: none !important;
  border: 1px solid #1d2731;
  box-shadow: 0 0 5px #7f00ff;
}
#report-info-container #advanced-search #adv-search-container input[type="button"] {
  background-color: #1d2731;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
}
#report-info-container #advanced-search #adv-search-container input[type="button"]:hover {
  background-color: #7f00ff;
}
#report-info-container #advanced-search #adv-search-container ::placeholder {
  opacity: .6;
}

#table-container {
  background-color: white;
  min-height: 94vh;
  max-height: 94vh;
  overflow-y: scroll;
  width: 100%;
  margin: 0 auto;
  border-right: 1px #cccccc solid;
  border-bottom: 1px #cccccc solid;
}
#table-container #limiter {
  width: 95%;
  margin: 0 auto;
}
#table-container #limiter #deprecated {
  display: none;
}
#table-container #table-search {
  width: 95%;
  margin: 0 auto;
  display: none;
}
#table-container #table-search #search-results-container {
  width: 95%;
  margin: auto auto;
  font-size: 17px;
}
#table-container #table-search #search-results-container .search-result {
  width: 48%;
  height: 300px;
  border: 1px #cccccc solid;
  border-radius: 5px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
#table-container #table-search #search-results-container .search-result .rpt-searcher {
  display: none;
}
#table-container #table-search #search-results-container .search-result div {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
#table-container #table-search #search-results-container .search-result .search-title {
  font-size: 20px;
  background: #1d2731;
  color: white;
  padding: 10px;
}
#table-container .table-content {
  border-radius: 10px;
  border-right: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  border-bottom: 1px #cccccc solid;
}
#table-container .table-header {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

#nav-menu {
  border-right: 1px #cccccc solid;
  background-color: whitesmoke;
  color: black;
  font-size: 18px;
}
#nav-menu #menu-choices {
  margin-top: 25px;
}
#nav-menu #menu-choices .menu-option {
  padding: 10px;
}
#nav-menu #menu-choices .menu-option:hover {
  background: linear-gradient(to left, whitesmoke, #dbdbd6);
}
#nav-menu #menu-choices .menu-option p {
  width: 80%;
  margin: auto auto;
}
#nav-menu #app-info {
  font-size: 14px;
  font-style: italic;
  position: absolute;
  bottom: 0;
  margin-bottom: 62px;
  text-align: center;
  width: 15%;
}
#nav-menu .easter-egg {
  color: #7f00ff;
  cursor: pointer;
}

.hide-modal {
  display: none;
}

#modal-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
#modal-container #new-report-modal {
  color: gray;
  width: 350px;
  margin: auto;
  margin-top: 20px;
  padding: 0px 20px 20px;
  border: 1px #cccccc solid;
  background-color: white;
  border-radius: 5px;
  /* Override Styles */
}
#modal-container #new-report-modal #modal-header {
  background: #1d2731;
  color: white;
  padding: 20px;
  font-weight: normal;
  border-radius: 5px;
  text-align: center;
}
#modal-container #new-report-modal #modal-header .report-modal {
  float: right;
}
#modal-container #new-report-modal #modal-header .report-modal:hover {
  color: #7f00ff;
}
#modal-container #new-report-modal input[type="text"] {
  font-size: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 98%;
  padding: 7px;
  margin-left: 5px;
  border: none;
  border-bottom: 1px #cccccc solid;
  margin-bottom: 10px;
}
#modal-container #new-report-modal input[type="text"]:focus {
  outline: none !important;
  border: 1px solid #1d2731;
  box-shadow: 0 0 2px #7f00ff;
}
#modal-container #new-report-modal input[type="text"]::placeholder {
  font-size: 15px;
  color: gray;
}
#modal-container #new-report-modal input[type="button"] {
  background-color: #1d2731;
  border: none;
  color: white;
  font-size: 16px;
  padding: 8px 18px;
  text-decoration: none;
  margin: auto auto;
}
#modal-container #new-report-modal input[type="button"]:hover {
  background-color: #7f00ff;
}
#modal-container #new-report-modal #new-name {
  width: 74%;
}
#modal-container #new-report-modal #new-version {
  text-align: center;
  width: 20%;
}
#modal-container #new-report-modal #new-reqdate, #modal-container #new-report-modal #new-pubdate {
  width: 47%;
}
#modal-container #new-report-modal .param-input, #modal-container #new-report-modal .param-desc-input {
  width: 42% !important;
}
#modal-container #new-report-modal #new-param-button {
  background: none;
  border: none;
  font-size: 16px;
  outline: none;
}
#modal-container #new-report-modal #new-param-button:hover {
  color: #7f00ff;
}
#modal-container #new-report-modal #modal-submit {
  text-align: center;
}
#modal-container #new-report-modal #modal-exports {
  text-align: center;
  padding: 5px;
  /* Create a custom checkbox */
}
#modal-container #new-report-modal #modal-exports .export-choice {
  width: 80px;
  margin-left: 5px;
  border: none;
  background: none;
  border: 1px #cccccc solid;
  padding: 5px;
  border-radius: 3px;
  color: gray;
}
#modal-container #new-report-modal #modal-exports .export-choice:focus {
  outline: none !important;
}
#modal-container #new-report-modal #modal-exports .selected-choice {
  background: #1d2731;
  color: white;
  font-weight: bold;
}
#modal-container #new-report-modal #modal-exports .container {
  position: relative;
  padding: 5px;
  cursor: pointer;
  margin-left: 20px;
  border: 1px #cccccc solid;
  border-radius: 5px;
  display: inline-block;
}
#modal-container #new-report-modal #modal-exports .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
#modal-container #new-report-modal #modal-exports .checkmark {
  position: relative;
  min-height: 25px;
  min-width: 25px;
  border: 1px #cccccc solid;
  border-radius: 5px;
  padding: 5px;
}
#modal-container #new-report-modal #text-area {
  width: 94%;
  margin: auto auto;
}
#modal-container #new-report-modal #text-area textarea {
  resize: none;
  font-size: 16px;
  font-family: Helvetica, Verdana, sans-serif;
  width: 100%;
  height: 60px;
  border: 1px #cccccc solid;
  border-radius: 5px;
  padding: 5px;
  margin: auto auto;
  margin-top: 10px;
}
#modal-container #new-report-modal #text-area textarea:focus {
  outline: none !important;
  border: 1px solid #1d2731;
  box-shadow: 0 0 2px #7f00ff;
}
#modal-container #new-report-modal .name-2, #modal-container #new-report-modal .name-3, #modal-container #new-report-modal .name-4, #modal-container #new-report-modal .name-5 {
  display: none;
}
#modal-container #new-report-modal .desc-2, #modal-container #new-report-modal .desc-3, #modal-container #new-report-modal .desc-4, #modal-container #new-report-modal .desc-5 {
  display: none;
}
